body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* nav styling */
.navbar-blue {
    background-color: #003478;
    border-color: #002350;
}
.navbar-blue .navbar-brand {
    color: #EEE;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #FFF;
}
.navbar-blue .navbar-nav > li > a {
    color: #EEE;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #EEE;
    background-color:#002a60;
}
.navbar-blue .navbar-nav > .active > a, 
.navbar-blue .navbar-nav > .active > a:hover, 
.navbar-blue .navbar-nav > .active > a:focus {
    color: #EEE;
    background-color: #002454;
}
.navbar-blue .navbar-nav > .active2 > a {
    border-right:1px solid #002a60;
}
.navbar-blue .navbar-nav > .open > a, 
.navbar-blue .navbar-nav > .open > a:hover, 
.navbar-blue .navbar-nav > .open > a:focus {
    color: #EEE;
    background-color: #002454;
}
.navbar-blue .navbar-nav > .dropdown > a .caret {
    border-top-color: #EEE;
    border-bottom-color: #EEE;
}
.navbar-blue .navbar-nav > .dropdown > a:hover .caret,
.navbar-blue .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #EEE;
    border-bottom-color: #EEE;
}
.navbar-blue .navbar-nav > .open > a .caret, 
.navbar-blue .navbar-nav > .open > a:hover .caret, 
.navbar-blue .navbar-nav > .open > a:focus .caret {
    border-top-color: #002454;
    border-bottom-color: #002454;
}
.navbar-blue .navbar-toggle {
    border-color: #002454;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #002454;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #EEE;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #EEE;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #002454;
    }
}
/* end nav styling */

#xcontent {
    margin-top:15px;
}
.langflag {
	display:inline-block;
	width:22px;
	height:16px;
	background-image:url('../img/lang.png');
	background-repeat: no-repeat;
}

.langflag-ru {
	background-position: 0px 0px;
}
.langflag-tj {
	background-position: 0px -16px;
}
.langflag-en {
	background-position: 0px -32px;
}

#mysidebar {
    border:1px solid silver;
    background-color:white;
    position: absolute;
    z-index: 100px;
    top:0px;
    left:70px;
}
.xmg {
    margin:8px;
}
#regformbox {
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
#canvas-holder{
    margin:8px;
    width:300px;
    border:0px solid #EEE;
    display:inline-block;
}
#canvas-holder2{
    margin:8px;
    width:800px;
    border:0px solid #EEE;
    display:inline-block;
}
#canvas-holder3{
    margin:18px;
    width:900px;
    border:0px solid #EEE;
    display:inline-block;
}

#canvas-holder3_2{
    margin:18px;
    width:600px;
    border:0px solid #EEE;
    display:inline-block;
}

#xgraph {
  width: 400px;
  height: 200px;
  margin: 20px auto 0 auto;
}
.form_sep_blue {
    color:#286090;
}
.form_sep_red {
    color:#d9534f;
}

.intro {
    width: 100%;
    background: url(../../../img/banner_edu.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    transition: all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
    -webkit-transition: all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
}
.dtable {
    display: table;
}
.dtable-cell {
    display: table-cell;
    vertical-align: middle;
}
.hw100 {
    height: 100%;
    width: 100%;
}
.intro .container {
    max-width: 800px;
}
.intro h1, .intro-title {
    color: #fff;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    /*letter-spacing: -0.3px;*/
    margin-bottom: 10px;
    padding-bottom: 0;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    transition: font 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
}
.shapka{
    /*margin-top: -15px;*/
    padding-left: -15px !important;
    padding-right: -15px !important;
}
.mapx {
    border-top:1px solid silver;
    border-bottom:1px solid silver;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}